<li>
    {{name}}
    {{#if devoured}}
    <button
        class="devoured-button"
        data-id={{id}}
        data-newburger={{devoured}}
    >
        DEVOURING
    </button>
    {{/if}}


    {{#unless devoured}}
    <button
        class="delete-button"
        data-id={{id}}
        data-newburger={{devoured}}
    >
        DELETE
    </button>
    {{/unless}}

</li>