<header>
    <h1>Eat-da-Burger</h1>
</header>

{{!-- burger input --}}

<div class="row">
    <div class="col-sm-12">
        <form
            class="form-group"
            id="form"
        >
            <div class="form-group">
                <label for="burgerInput">What burger would you like to devour today?</label>
                <input
                    type="text"
                    class="form-control"
                    id="burgerInput"
                >
            </div>
            <button
                type="submit"
                class="btn btn-primary"
            >Submit</button>
        </form>
    </div>
</div>

<div class="row">
    {{!-- burger waiting to be devoured --}}
    <div class="col-sm-6">
        <h2>Burgers Waiting For You to Devour!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{id}}.{{name}}
                <button
                    class="devoured-button"
                    data-id={{id}}
                >
                    DEVOUR NOW
                </button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
        {{!-- <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ul> --}}

    </div>
    {{!-- burger devoured --}}
    <div class="col-sm-6">
        <h2>Devoured burgers!!!!</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{id}}.{{name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<br>


<blockquote class="blockquote text-center">
    <p class="mb-0">"Have a burger, stay sane."</p>
    <footer class="blockquote-footer">someone hungry</footer>
</blockquote>